
<!-- Angular Forms-->
<contact-first></contact-first>
<!-- HostBinding and HostBinding-->
<!-- <div appCustomdemo style="padding: 20px">Cutom Directive host element</div>
<!-- Component prarice-->
<!-- <product1-comp></product1-comp> --> -->


<!-- Pipes demos are render here-->
<!-- <pipe-app></pipe-app> -->
<!-- <app-pipe></app-pipe>
<!-- Simple CRUD Operation-->
<!-- <comp-Simplecurd></comp-Simplecurd> -->
<!-- Databinding demo render here-->
<!-- <demotwo-way></demotwo-way>
<prop-element></prop-element> -->
<!-- Directive components are render here-->
<!-- <h1>Custon Directive demo render here</h1>
<p myHighlight>See the text is highligthed !!</p>
<b myHighlight>Custom directive applied on <b></b>
<attr-demo></attr-demo>
<app-switch></app-switch>
<list-employee></list-employee>
<app-ngif></app-ngif> -->
<!-- Component Practice Product component-->
<!-- <div>
   <product-comp></product-comp>
</div> -->
<br>
<log-app></log-app>
